        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1a2919;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            color: #131313;
            padding: 1rem 2rem;
            margin-top: 1rem;
            position: sticky;
            top: 0;
            z-index: 1000;
            flex-wrap: wrap;
        }

        header .logo {
            height: auto;
            max-height: 5rem;
        }

        header h1 {
            font-size: 1.5rem;
            margin: 0;
            flex-grow: 1;
            text-align: center;
        }

        header nav {
            display: flex;
            align-items: center;
            max-width: 100%;
            flex-grow: 1;
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        header nav a {
            color: #000000;
            text-decoration: none;
            padding: 0 1rem;
            white-space: nowrap;
        }

        .header-maps-icon i {
            color: #1a2919 !important; 
        }

        .header-maps-icon:hover i {
            color: green !important; 
        }

        .about-section, .story-section, .product-section, .logo-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px;
            background-color: #1a2919;
        }

        .about-section {
            margin-bottom: 0px;
        }

        .image-container {
            flex: 1;
            margin-right: 50px;
        }

        .image-container img {
            width: 100%;
            height: auto;
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }

        .image-container img:hover {
            opacity: 1;
        }

        .content-container {
            flex: 1;
        }

        .content-container h1 {
            font-size: 36px;
            margin-bottom: 20px;
            color: #fffdfd;
        }

        .content-container p {
            font-size: 20px;
            line-height: 1.6;
            color: #fffdfd;
            text-align: justify;
        }

        .story-section .left-text,
        .product-section .left-text {
            flex: 1;
            color: #fffdfd;
            padding-right: 50px;
        }

        .story-section .right-text,
        .product-section .right-text {
            flex: 1;
            color: #fffdfd;
            padding-left: 50px;
            text-align: justify;
        }

        .story-section h2, 
        .product-section h2 {
            font-size: 80px;
            margin-bottom: 20px;
            color: #fffdfd;
        }

        .story-section p, 
        .product-section p {
            font-size: 20px;
            line-height: 1.6;
            color:#e4e2cffd;
        }

        .logo-section {
            flex-direction: column;
            text-align: center;
            background-color: #1a2919;
            color: hsl(0, 0%, 98%);
            font-size: 25px ;
        }

        .logo-container {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-bottom: 30px;
        }

        .logo-container img {
            max-width: 100%;
            height: auto;
            max-height: 150px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .logo-container img:hover {
            transform: scale(1.05);
        }

        .logo-description {
            font-size: 18px;
            max-width: 900px;
            margin: 0 auto;
            line-height: 1.6;
            color: #fffdfd;
        }

        .social-icons a {
            margin: 0 15px;
            font-size: 40px;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .instagram-icon i {
            color: beige; 
        }

        .whatsapp-icon i {
            color: beige ; 
        }

        .maps-icon i {
            color: beige; 
        }

        .instagram-icon:hover i {
            color: #c2217c;
        }

        .whatsapp-icon:hover i {
            color: #128C7E;
        }

        .maps-icon:hover i {
            color: #F44336;
        }


        footer {
            background-color: #ffffff;
            color: #000000;
            padding: 1rem 0;
            text-align: center;
            position: relative;
            width: 100%;
            bottom: 0;
            margin-top: 2.5rem;
        }